.quadro{
    background-color: #050a30;
    width: 100%;
    height: 550px;
    margin-top: 35px;
    padding: 20px;
    border-radius: 50px;
}
.title{
    color: #ffde59;
    display: flex;
    justify-content: center;
}
.cadastrarprof{
    color: #989aad;
    display: flex;
    justify-content: flex-end;
}
.form-control{
    background-color: #2a2d49 !important;
    border: #2a2d49;
    color: #fde482 !important;
    border-radius: 50px;
    height: 40px;
}

.form{
    background-color: #2a2d49 !important;
    border: #2a2d49;
    color: #fde482 !important;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 50px;
}
.btnfinalizar{
    width: 100%;
    background-color: #fde482;
    height: 50px;
    border-radius: 50px;
}

.form-control::placeholder {
    color: #fde482;
  }
  
.voltar{
    width: 55px;
}

.bodyCalendario{
    background-color: #ebf8ff;
}

.htmlcalendario{
    background-color: #ebf8ff;
}

.diasemanacal{
    width: 214px;
    background-color: #a7c6d6;
    height: 82px;
    border-radius: 35px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 40px;
    color: #ffffff;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: #050a30;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.alinhamentocal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botao{
    width: 214px;
    background-color: #a7c6d6;
    height: 117px;
    border-radius: 35px;
    font-size: 40px;
    margin-top: 15px;
    color: #ffffff;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    text-decoration: none;
}

.titulo{
    font-size: 50px;
    color: #ffde59;
    display: flex;
    justify-content: center;
}
.calend{
    width: 55px;
}


/*****************************/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 170px;
    }

ul li {
    position: relative;
    }


li ul {
    position: absolute;
    left: -15px;
    margin-top: 0;
    display: none;
    }

    ul li a {
        display: block;
        text-decoration: none;
        color: #ffde59;
        background-color: #050a30;
        padding: 5px;
     }

     li:hover ul { display: block; }