<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <title>Planejamento Semanal</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/imagens/social/uruSemFundo.png" />
    <!-- CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- JAVASCRIPT -->
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./js/funcionalidadeClickNoLabel.js"></script>
</head>

<body>
    <!--MENU-->
    <div class="container-fluid p-0">  
        <nav class="navbar bg-dark navbar-dark">
            <button class="btn2 btn"><img href="index.html" class="voltar" src="imagens/voltar-icon.png"></button>
            <h1 class="title" id="uru">PLANEJAMENTO SEMANAL</h1>
            <button class="btn2 btn"><img src="imagens/check-menu.png" class="voltar"></button>
        </nav>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="linhasemana mt-5">
                    <div class="diasemana"><p>SEG</p></div>
                    <div class="diasemana"><p>TER</p></div>
                    <div class="diasemana"><p>QUA</p></div>
                    <div class="diasemana"><p>QUI</p></div>
                    <div class="diasemana"><p>SEX</p></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="linhacheck mt-4">
                    <div class="check">
                        <div class="coisas m-4" name="1">
                            <input type="checkbox" class="checkk" id="1"/>
                            <label for="checkk">
                                <div class="customizar" style="border-radius: 50%;"></div>
                            </label>
                        </div>
                        <div class="mais check">
                            <button class="btn3"><img src="imagens/Captura_de_tela_2025-04-30_115715-removebg-preview.png" class="voltar"></button>
                        </div>
                    </div>
                    <div class="check">
                        <div class="coisas m-4" name="2">
                            <input type="checkbox" class="checkk" id="2"/>
                            <label for="checkk">
                                <div class="customizar" style="border-radius: 50%;"></div>
                            </label>
                        </div>
                        <div class="mais check">
                            <button class="btn3"><img src="imagens/Captura_de_tela_2025-04-30_115715-removebg-preview.png" class="voltar"></button>
                        </div>
                    </div>
                    <div class="check">
                        <div class="coisas m-4" name="3">
                            <input type="checkbox" class="checkk" id="3"/>
                            <label for="checkk">
                                <div class="customizar" style="border-radius: 50%;"></div>
                            </label>
                        </div>
                        <div class="mais check">
                            <button class="btn3"><img src="imagens/Captura_de_tela_2025-04-30_115715-removebg-preview.png" class="voltar"></button>
                        </div>
                    </div>
                    <div class="check">
                        <div class="coisas m-4" name="4">
                            <input type="checkbox" class="checkk" id="4"/>
                            <label for="checkk">
                                <div class="customizar" style="border-radius: 50%;"></div>
                            </label>
                        </div>
                        <div class="mais check">
                            <button class="btn3"><img src="imagens/Captura_de_tela_2025-04-30_115715-removebg-preview.png" class="voltar"></button>
                        </div>
                    </div>
                    <div class="check">
                        <div class="coisas m-4" name="5">
                            <input type="checkbox" class="checkk" id="5">
                            <label for="checkk">
                                <div class="customizar" style="border-radius: 50%;"></div>
                            </label>
                        </div>
                        <div class="mais check">
                            <button class="btn3"><img src="imagens/Captura_de_tela_2025-04-30_115715-removebg-preview.png" class="voltar"></button>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        
    </div>
</body>

</html>