<!DOCTYPE html>
<html class="htmlcalendario" lang="pt-Br">

<head>
    <title>Calendário</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/imagens/uruSemFundo.png" />
    <!-- CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- JAVASCRIPT -->
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./js/gerenciamentoCalendario.js"></script> 
</head>

<body class="bodyCalendario">

    <nav class="navbar">

            <a href="#"><img class="voltar" src="./imagens/voltar.png"/></a>
      
            <h3 class="titulo">JUNHO</h3>

            <ul>
                <li><a href="#"><img class="calend" id="btncalend" src="./imagens/calendario.png"/></a>
                  <ul>
                    <li><a href="#">Janeiro</a></li>
                    <li><a href="#">Fevereiro</a></li>
                    <li><a href="#">Março</a></li>
                    <li><a href="#">Abril</a></li>
                    <li><a href="#">Maio</a></li>
                    <li><a href="#">Junho</a></li>
                    <li><a href="#">Julho</a></li>
                    <li><a href="#">Agosto</a></li>
                    <li><a href="#">Setembro</a></li>
                    <li><a href="#">Outubro</a></li>
                    <li><a href="#">Novembro</a></li>
                    <li><a href="#">Dezembro</a></li>
                  </ul>
                </li>
              </ul>
    </nav>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="alinhamentocal">
            <div class="diasemanacal">DOM</div>
            <div class="diasemanacal">SEG</div>
            <div class="diasemanacal">TER</div>
            <div class="diasemanacal">QUA</div>
            <div class="diasemanacal">QUI</div>
            <div class="diasemanacal">SEX</div>
            <div class="diasemanacal">SAB</div>
        </div>
        <div class="alinhamentocal">
            <a href="#" class="botao"><h2></h2></a>
            <a href="#" class="botao"><h2></h2></a>
            <a href="#" class="botao"><h2>1</h2></a>
            <a href="#" class="botao"><h2>2</h2></a>
            <a href="#" class="botao"><h2>3</h2></a>
            <a href="#" class="botao"><h2>4</h2></a>
            <a href="#" class="botao"><h2>5</h2></a>
        </div>
        <div class="alinhamentocal">
            <a href="#" class="botao"><h2>6</h2></a>
            <a href="#" class="botao"><h2>7</h2></a>
            <a href="#" class="botao"><h2>8</h2></a>
            <a href="#" class="botao"><h2>9</h2></a>
            <a href="#" class="botao"><h2>10</h2></a>
            <a href="#" class="botao"><h2>11</h2></a>
            <a href="#" class="botao"><h2>12</h2></a>
        </div>
        <div class="alinhamentocal">
            <a href="#" class="botao"><h2>13</h2></a>
            <a href="#" class="botao"><h2>14</h2></a>
            <a href="#" class="botao"><h2>15</h2></a>
            <a href="#" class="botao"><h2>16</h2></a>
            <a href="#" class="botao"><h2>17</h2></a>
            <a href="#" class="botao"><h2>18</h2></a>
            <a href="#" class="botao"><h2>19</h2></a>
        </div>
        <div class="alinhamentocal">
            <a href="#" class="botao"><h2>20</h2></a>
            <a href="#" class="botao"><h2>21</h2></a>
            <a href="#" class="botao"><h2>22</h2></a>
            <a href="#" class="botao"><h2>23</h2></a>
            <a href="#" class="botao"><h2>24</h2></a>
            <a href="#" class="botao"><h2>25</h2></a>
            <a href="#" class="botao"><h2>26</h2></a>
        </div>
        <div class="alinhamentocal">
            <a href="#" class="botao"><h2>27</h2></a>
            <a href="#" class="botao"><h2>28</h2></a>
            <a href="#" class="botao"><h2>29</h2></a>
            <a href="#" class="botao"><h2>30</h2></a>
            <a href="#" class="botao"><h2>31</h2></a>
            <a href="#" class="botao"><h2></h2></a>
            <a href="#" class="botao"><h2></h2></a>
        </div>
        </div>
        <div class="col-md-1"></div>
    </div>           


              
</body>

</html>